/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}


/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  width: 100%;
  height: 65px;
  color: rgb(255, 255, 255);
}

.header .title {
  display: flex;
  margin-left: 37px;
}

.header .title h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.header img {
  width: 31px;
  height: 26px;
  margin-right: 6px;
}

.header p {
  margin-right: 37px;
  font-weight: 500;
  font-size: 12px;
}

/* Form */

.form-container {
  display: flex;
  justify-content: center;
}

.form input {
  margin: 36px 8px;
  width: 280px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  outline: none;
  padding-left: 10px;

}

.form button {
  display: block;
  margin: 0 auto;
  width: 570px;
  height: 60px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transition-property: background;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form button:hover {
  background: linear-gradient(-25deg, #711F8D 1.55%, #A818DA 100%);

}